---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const imageCollection = await getCollection("images");

function getImageRatio(image) {
  const { width, height } = image.data.image;
  return width / height;
}

function getAspectRatio(image) {
  const ratio = getImageRatio(image);
  if (ratio > 1) {
    return "landscape";
  } else if (ratio < 1) {
    return "portrait";
  } else {
    return "square";
  }
}
---

<Layout>
  <div class="mx-auto grid w-full max-w-[1100px] gap-4 md:pb-12 lg:grid-cols-2">
    {
      imageCollection.map((image, index) => (
        <jomae-photo
          class={`relative w-full ${
            getAspectRatio(image) === "landscape"
              ? "col-span-2 lg:col-span-1 "
              : "lg:row-span-2"
          }`}
          style={{
            backgroundColor: image.data.color,
          }}
        >
          <div class=" group absolute inset-0 z-10 flex h-full items-end from-black/70 to-50% transition-all hover:bg-gradient-to-t">
            <p class="hidden p-4 text-sm text-white group-hover:block">
              {image.data.location}
            </p>
          </div>
          <Image
            src={image.data.image}
            width={800}
            quality={90}
            alt={image.data.location}
            class="h-full w-full object-cover opacity-0 transition-opacity duration-500"
          />
        </jomae-photo>
      ))
    }
  </div>
</Layout>

<script>
  class JomaePhoto extends HTMLElement {
    constructor() {
      super();

      const img = this.querySelector("img");

      if (img.complete) {
        applyImageLoadedStyles(img);
      } else {
        img.addEventListener("load", ({ target }) =>
          applyImageLoadedStyles(target)
        );
      }

      function applyImageLoadedStyles(img) {
        if (!img) {
          return;
        }

        img.classList.remove("opacity-0");
      }
    }
  }

  customElements.define("jomae-photo", JomaePhoto);
</script>
