---
import Layout from "../layouts/Layout.astro";
import SwiperWrapper from "../components/Swiper";
---

<Layout title="Welcome to Astro.">
  <div class="bg-gradient absolute inset-0 -z-[1]"></div>
  <div class="bg-image h-full w-full fixed -z-[1]"></div>
  <main
    class="flex flex-col md:grid md:grid-cols-2 gap-2 h-full pt-4 bg-transparent"
  >
    <h1
      class="text-4xl z-10 px-4 font-bold text-center"
      style="letter-spacing: -1.2px"
    >
      the beauty of earth
    </h1>
    <SwiperWrapper client:load />
  </main>
</Layout>

<script src="../scripts/image-load.ts"></script>

<style>
  div.bg-gradient {
    background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  }

  div.bg-image {
    background-image: var(--backgroundImage);
    background-color: var(--backgroundColor);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    filter: blur(90px);
    opacity: 0;
    animation: fade 0.3s ease-in-out forwards;
    transition: background 0.3s ease;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
 ```
