---
import { ImageCarousel } from "../components/ImageCarousel";
import Layout from "../layouts/Layout.astro";

import { loadImages } from "../util/images";

const images = await loadImages();
---

<Layout>
  <div class="col-span-2 h-full overflow-hidden md:pb-2 lg:col-start-2">
    <ImageCarousel images={images} client:idle />
  </div>
</Layout>
