---
import Layout from "../layouts/Layout.astro";
import SwiperWrapper from "../components/Swiper";
---

<Layout title="Welcome to Astro.">
  <div class="bg-image"></div>
  <main class="flex flex-col gap-8 h-full pt-4 bg-transparent">
    <h1
      class="text-4xl z-10 px-4 font-bold text-center"
      style="letter-spacing: -1.2px"
    >
      the beauty of earth
    </h1>
    <SwiperWrapper client:load />
  </main>
</Layout>

<script src="../scripts/image-load.ts"></script>

<style>
  div.bg-image {
    background-image: var(--backgroundImage);
    background-color: var(--backgroundColor);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    filter: blur(100px);
    opacity: 0;
    animation: fade 0.3s ease-in-out forwards;
    transition: background 0.3s ease;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
 ```
