---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import plantImage from "../images/plant.jpg";
---

<Layout title="Welcome to Astro." backgroundColor="#566B3F">
  <main class="flex flex-col max-w-2xl gap-8 p-4">
    <h1 class="text-4xl z-10">the beauty of earth</h1>

    <Image src={plantImage} alt="plant" class="absolute inset-0 blur-3xl z-0" />
    <Image src={plantImage} alt="plant" class="z-10 max-h-96 object-contain" />
  </main>
</Layout>

<style></style>
