---
import Layout from "../layouts/Layout.astro";
import SwiperWrapper from "../components/Swiper";
---

<Layout title="Welcome to Astro.">
  <div class="bg-gradient absolute inset-0 -z-[1]"></div>
  <main
    class="flex h-full flex-col gap-2 bg-transparent pt-4 md:grid md:gap-12 md:p-8 lg:grid-cols-3"
  >
    <div class="col-span-2 flex flex-col gap-8 lg:col-span-1">
      <h1
        class="z-10 px-4 text-center text-4xl font-bold md:p-0 md:text-left md:text-6xl"
        style="letter-spacing: -1.2px"
      >
        the beauty of earth
      </h1>
      <p class="description text-transparent-500 hidden md:block">
        images from around the world. <br />
         explore the beauty of our planet.
      </p>
    </div>

    <div class="col-span-2 h-full overflow-hidden lg:col-start-2">
      <SwiperWrapper client:load />
    </div>
  </main>
</Layout>

<script src="../scripts/image-load.ts"></script>

<style>
  p.description {
    line-height: 18px;
  }

  div.bg-gradient {
    background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
  }
</style>
 ```
