---
import Layout from "../layouts/Layout.astro";
import SwiperWrapper from "../components/Swiper";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-8 h-full pt-2">
    <h1 class="text-4xl z-10 px-4 font-bold" style="letter-spacing: -1.2px">
      the beauty of earth
    </h1>
    <SwiperWrapper client:load />
  </main>
</Layout>

<script src="../scripts/image-load.ts"></script>

<style></style>
