---
import Layout from "../layouts/Layout.astro";
import { ImageCarousel } from "../components/ImageCarousel";

import { loadImages } from "../util/images";

const images = await loadImages(1000);
---

<Layout>
  <div class="col-span-2 h-full overflow-hidden md:pb-2 lg:col-start-2">
    <ImageCarousel images={images} client:load />
  </div>
</Layout>
