---
import { HandCoins } from "lucide-react";
---

<div
  class="text-transparent-500 flex items-center justify-center gap-2 p-4 text-xs md:px-8"
>
  <div class="flex-1">
    <span>© 2024</span>
    <a
      href="https://www.jomaendle.com"
      target="_blank"
      rel="preload"
      class="z-50 cursor-pointer underline underline-offset-1"
    >
      Johannes Maendle
    </a>
  </div>

  <a
    href="https://www.paypal.com/donate/?hosted_button_id=LGDFRHKUS5XSJ"
    target="_blank"
    rel="preload"
    class="z-50 flex cursor-pointer items-center gap-2 underline underline-offset-1"
  >
    <HandCoins size={16} />
     Donate (via PayPal)
  </a>
</div>
