<footer class="fixed bottom-0 left-0 right-0 z-0 w-full">
  <div
    class="text-transparent-500 flex flex-col items-center justify-center p-4 text-xs md:px-8 lg:items-end"
  >
    <div class="flex items-center space-x-1">
      <span>© 2023</span>
      <a
        href="https://www.jomaendle.com"
        target="_blank"
        rel="preload"
        class="z-20 cursor-pointer underline underline-offset-1"
      >
        Johannes Maendle
      </a>
    </div>
  </div>
</footer>
