---
import { TOAST_CONTENT, TOAST_WRAPPER_ID } from "../util/toast";
---

<div
  id={TOAST_WRAPPER_ID}
  class="invisible absolute inset-0 flex items-start justify-center"
>
  <div
    id={TOAST_CONTENT}
    class="z-20 flex items-center gap-2 rounded-md bg-gray-800 py-2 pl-3 pr-4 text-sm text-gray-100 shadow-md transition duration-300 ease-out"
  >
  </div>
</div>
