---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  backgroundColor: string;
}

const { title, backgroundColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
    <style is:global define:vars={{ backgroundColor }}>
      html {
        font-family: system-ui, sans-serif;
        background: var(--backgroundColor, #13151a);
        height: 100%;
        color: #fff;
        transition: background-color 0.3s ease;
      }

      body {
        height: 100%;
      }
    </style>
    <script src="../store/image.effects.ts"></script>
  </body>
</html>
