---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        height: 100%;
        color: #fff;
      }

      body {
        height: 100%;
        overflow: hidden;
        background-color: var(--backgroundColor, #13151a);
        transition: background-color 0.3s ease;
      }

      .icon {
        @apply text-gray-100 transition-colors duration-150 hover:text-gray-300;
      }

      .text-transparent-500 {
        color: rgba(255, 255, 255, 0.67);
      }
    </style>
    <script src="../store/image.effects.ts"></script>
  </body>
</html>
